.topmenu {
  background-color: #333;
  width: 100%;
  overflow: hidden;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  /*margin-left: 25%;*/
}
.topmenu a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topmenu a:hover{
  background-color: #ddd;
  color: black;
}
.topmenu a.active {
  background-color: white;
  color: #0d76ba;
}

body {
  background-color: #FBF8F1;
  /*background-image: url("images/wheelchairs.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;*/
}

.body {
  background-color: #0d76ba;
}

hr {
  /*color: #4C4C6D;*/
  border-style: none;
  border-top-style: dashed;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}

li {
  text-align: left;
  font-size: 25px;
  padding: 5px auto;
}

.body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.tintero {
  background-color: #CAF0F8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.escritorio {
  background-color: #9AD0EC;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cita {
  text-align: center;
  width: 40%;
  font-size: 25px;
  padding: auto;
  margin: auto;
  font-style: normal;
}

.tintero-heading {
  text-align: center;
}

.tintero-texto {
  text-align: justify;
  width: 70%;
  font-size: 25px;
  padding: 50px 15% 0 15%;
}

.escritorio-texto {
  text-align: justify;
  width: 70%;
  font-size: 25px;
  padding: 20px 15% 0 15%;
}

.preguntas {
  background-color: #9AD0EC;
}

.wheelchairs-img {
  display: block;
  margin: 10% auto auto auto;
}
.centered {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
}

.alencuentro-div {
}

.alencuentro-h1 {
  /*display: inline;*/
  width: auto;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
  /*padding-left: 200px;*/
  padding-right: auto;
  /*padding-top: 100px;*/
}

.llamados-h3 {
  /*display: flex;*/
  width: auto;
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  /*padding-left: 200px;*/
  padding-left: auto;
  padding-right: auto;
  font-style: italic;
}
.image {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background: #80ccf2;
  background-image: -webkit-linear-gradient(top, #80ccf2, #3498db);
  background-image: -moz-linear-gradient(top, #80ccf2, #3498db);
  background-image: -ms-linear-gradient(top, #80ccf2, #3498db);
  background-image: -o-linear-gradient(top, #80ccf2, #3498db);
  background-image: linear-gradient(to bottom, #80ccf2, #3498db);
  text-decoration: none;
}

.footer {
  text-align: center;
  margin: auto;
  background-color: #86C6F4;
}
